<catalart-search-bar (onSearch)="filter($event)"
                     (onAdd)="addClicked()"
                     ariaLabel="Add new artwork">
</catalart-search-bar>
<catalart-section-container>
  <artwork-preview-card *ngFor="let artworkPreview of artCatalog"
                        [artworkPreview]="artworkPreview"
                        (onViewClicked)="onViewClicked(artworkPreview)"
                        (onEditClicked)="onEditClicked(artworkPreview)"
                        (onDeleteClicked)="onDeleteClicked(artworkPreview)"></artwork-preview-card>
</catalart-section-container>
