<!--Part infinite list, with search, filter, with cards including Name of piece, picture, year, artist-->
<span class="search-bar">
  <mat-form-field>
    <input type="text" placeholder="Search (disabled)" disabled matInput>
  </mat-form-field>
  <span class="button-group">
    <button mat-fab color="primary" aria-label="Add new artwork"><mat-icon>add</mat-icon></button>
  </span>
</span>
<catalart-section-container>
  <artwork-preview-card *ngFor="let artworkPreview of artCatalog"
                        [artworkPreview]="artworkPreview"
                        (onViewClicked)="onViewClicked(artworkPreview)"
                        (onEditClicked)="onEditClicked(artworkPreview)"></artwork-preview-card>
</catalart-section-container>
