.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0px 10px 0px;
}

.art-collection-sections {
  display: flex;
  flex-flow: column;
  height: 100%;
}
