<ng-container [formGroup]="artworkClassificationForm">
  <catalart-section [title]="'Classification'"
                    [description]="'Placement of a work of art or architecture within a classification scheme.'"
                    [invalid]="artworkClassificationForm.invalid"
                    [icon]="'category'">
    <catalart-dropdown formControlName="classificationTerm"
                        [options]="classificationTermOptions"
                        [loading]="termsLoading"
                        [placeholderText]="'Classification Term'"
                        [required]="true">
    </catalart-dropdown>
  </catalart-section>
</ng-container>
