<ng-container [formGroup]="artworkClassificationForm">
  <catalart-section [title]="'Classification'"
                    [description]="'Placement of a work of art or architecture within a classification scheme.'"
                    [invalid]="artworkClassificationForm.invalid"
                    [icon]="'category'">
    <catalart-dropdown formControlName="style"
                        [options]="styleOptions"
                        [loading]="stylesLoading"
                        [placeholderText]="'Style'"
                        [required]="true">
    </catalart-dropdown>
    <catalart-dropdown formControlName="genre"
                        [options]="genreOptions"
                        [loading]="genresLoading"
                        [placeholderText]="'Genre'"
                        [required]="true">
    </catalart-dropdown>
  </catalart-section>
</ng-container>
