<ng-container [formGroup]="artworkClassificationForm">
  <catalart-section [title]="'Classification'"
                    [description]="'Placement of a work of art or architecture within a classification scheme.'"
                    [invalid]="artworkClassificationForm.invalid"
                    [icon]="'category'">
    <mat-form-field>
      <input matInput
             placeholder="Classification Term"
             formControlName="classificationTerm"
             required>
    </mat-form-field>
  </catalart-section>
</ng-container>
