<mat-toolbar color="primary">
  <span class="title" routerLink="/">Catalart</span>
  <span class="remaining-space"></span>
  <span>
    <button mat-button [matMenuTriggerFor]="beforeMenu">Sam Pastoriza</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Sign Out</button>
    </mat-menu>
  </span>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" opened class="drawer">
    <mat-list>
      <mat-list-item>
        <h3 class="list-header" matLine>Overview</h3>
        <span class="list-item"
              routerLink="/admin-dashboard"
              routerLinkActive="active-link"
              matLine><span class="list-text">Admin Dashboard</span><mat-icon mat-light md-18>chevron_right</mat-icon></span>
      </mat-list-item>
      <mat-list-item>
        <h3 class="list-header" matLine>Catalog</h3>
        <span class="list-item"
              matLine
              routerLink="/art-collections"
              routerLinkActive="active-link"><span class="list-text">Art Collections</span> <mat-icon mat-light md-18>chevron_right</mat-icon></span>
        <span class="list-item"
              matLine
              routerLink="/artwork"
              routerLinkActive="active-link"><span class="list-text">Artwork</span> <mat-icon mat-light md-18>chevron_right</mat-icon></span>
        <span class="list-item"
              matLine
              routerLink="/artists"
              routerLinkActive="active-link"><span class="list-text">Artists</span> <mat-icon mat-light md-18>chevron_right</mat-icon></span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
