<ng-container *ngIf="!loading else loadingMask">
  <span class="artist-sections" [formGroup]="artistForm">
    <span class="button-group">
      <button mat-button (click)="cancelClicked()">Cancel <mat-icon class="button-icon">cancel</mat-icon></button>
      <catalart-button (onClick)="saveClicked()"
                       [loading]="saving"
                       [disabled]="isFormInvalid"
                       [title]="'Save'"
                       [positive]="true">
        <mat-icon class="button-icon">save</mat-icon>
      </catalart-button>
    </span>
    <catalart-section-container>
      <artist-general-information-section [artistGeneralInformationForm]="generalInformationForm">
      </artist-general-information-section>
    </catalart-section-container>
  </span>
</ng-container>
<ng-template #loadingMask>
  <loading-mask></loading-mask>
</ng-template>
