<span [formGroup]="artworkForm">
  <artwork-object-section [artworkObjectForm]="artworkObjectForm"></artwork-object-section>
  <artwork-classification-section [artworkClassificationForm]="classificationForm"></artwork-classification-section>
  <artwork-title-section [artworkTitleForm]="titleForm"></artwork-title-section>
  <artwork-creation-section [artworkCreationForm]="creationForm"></artwork-creation-section>
  <artwork-measurements-section [artworkMeasurementsForm]="measurementsForm"></artwork-measurements-section>
  <artwork-material-and-techniques-section [artworkMaterialAndTechniquesForm]="materialsAndTechniquesForm"></artwork-material-and-techniques-section>
  <artwork-subject-matter-section [artworkSubjectMatterForm]="subjectMatterForm"></artwork-subject-matter-section>
  <artwork-location-section [artworkLocationForm]="locationForm"></artwork-location-section>
  <artwork-visual-documentation-section [artworkVisualDocumentationForm]="visualDocumentationForm"></artwork-visual-documentation-section>
  <artwork-citation-section [artworkCitationForm]="citationForm"></artwork-citation-section>
</span>
