<span class="search-bar">
  <mat-form-field class="search" [formGroup]="searchForm">
    <input type="text"
           placeholder="Search"
           matInput
           formControlName="searchInput">
  </mat-form-field>
  <span class="button-group">
    <button mat-fab color="primary" aria-label="Add new art collection" (click)="addClicked()"><mat-icon>add</mat-icon></button>
  </span>
</span>
<catalart-section-container>
  <art-collection-preview-card *ngFor="let artCollectionPreview of searchableCatalog"
                               [artCollectionPreview]="artCollectionPreview"
                               (onViewClicked)="onViewClicked(artCollectionPreview)"
                               (onEditClicked)="onEditClicked(artCollectionPreview)"
                               (onDeleteClicked)="onDeleteClicked(artCollectionPreview)"></art-collection-preview-card>
</catalart-section-container>
