<catalart-search-bar (onSearch)="filter($event)"
                     (onAdd)="addClicked()"
                     ariaLabel="Add new art collection">
</catalart-search-bar>
<catalart-section-container>
  <art-collection-preview-card *ngFor="let artCollectionPreview of artCollectionCatalog"
                               [artCollectionPreview]="artCollectionPreview"
                               (onViewClicked)="onViewClicked(artCollectionPreview)"
                               (onEditClicked)="onEditClicked(artCollectionPreview)"
                               (onDeleteClicked)="onDeleteClicked(artCollectionPreview)"></art-collection-preview-card>
</catalart-section-container>
