.content {
  display: flex;
  flex-direction: column;
}

mat-expansion-panel {
  margin: 0px 10px 10px 10px !important;
}

mat-icon {
  font-size: 18px;
  height: 18px;
}

.section-description {
  justify-content: flex-end;

  mat-icon {
    margin-left: 10px;
    margin-right: -20px;
    font-size: 20px;
    line-height: 19px;
  }
}
