<mat-accordion>
  <mat-expansion-panel [expanded]="true" hideToggle [tabindex]="-1">
    <mat-expansion-panel-header class="catalart-header">
      <mat-panel-title>
        <mat-icon *ngIf="invalid"
                  color="warn"
                  title="Validation errors exist"
                  class="validation-error">error_outline</mat-icon>
        <span class="title">{{title}}</span>
      </mat-panel-title>
      <mat-panel-description class="section-description">
        {{description}}
        <mat-icon>{{icon}}</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span class="content">
      <ng-content></ng-content>
    </span>
  </mat-expansion-panel>
</mat-accordion>
