<ng-container [formGroup]="artworkCitationForm">
  <catalart-section [title]="'Related Textual References'"
                    [description]="'Citations to sources of textual information related to the work of art.'"
                    [invalid]="artworkCitationForm.invalid"
                    [icon]="'list'">
    <mat-form-field>
      <textarea matInput
                placeholder="Citation"
                formControlName="citation"
                required></textarea>
    </mat-form-field>
  </catalart-section>
</ng-container>
